.main-discription {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  justify-content: space-between;
}

.left-content {
  max-width: 656px;
}

.tittle {
  color: #303030;
  font-size: 84px;
  font-weight: 700;
  line-height: 102px;
}

.text {
  color: #2d2f30;
  max-width: 555px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3px;
  margin: 0 0 10px 0;
}

.main-list {
  margin: 0 0 37px 3px;
  max-width: 503px;
  display: flex;
  justify-content: space-between;
}
.main-list li {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #3d424f;
  padding: 0 0 0 33px;
  margin: 0 48px 0 0;
  background: url(/img/icon/main-list-icon.svg) left 6px no-repeat;
}

.question {
  max-width: 653px;
  width: 100%;
  max-height: 114px;
  height: 100%;
  background: #f7fdff;
  border-radius: 4px;
  margin: 0 0 0 3px;
  display: flex;
  align-items: center;
}

.question__left {
  margin: 0 106px 0 31px;
}

.question__left__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2d2f30;
  margin: 0 0 11px 0;
}

.question__left__list {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #151617;
  padding: 0 0 0 38px;
  background: url(/img/icon/question-list-icon.svg) 6px no-repeat;
}

.question_left__button {
  min-width: 175px;
  min-height: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.right-content {
  max-width: 437px;
  max-height: 538px;
  border-radius: 35% 0 40% 42%;
  background-color: #4285f4;
  box-shadow: 27px 18px 1px 0px rgba(181, 209, 255, 0.26);
}

.position-big-photo {
  border-radius: 35% 0 40% 42%;
  overflow: hidden;
  max-width: 437px;
  max-height: 538px;
  z-index: 1;
}

.big-photo {
  margin: 0 0 0 50px;
  display: block;
  height: 100%;
}

.big-photo-2 {
  max-width: 437px;
  max-height: 538px;
  width: 100%;
  margin: -538px 0 0 51px;
}

.position-avatar {
  z-index: 2;
  margin: -45px 0 0 160px;
  position: absolute;
}

.position-avatar__mini-photo {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: #f8f6f6 solid 1px;
}
.position-avatar__mini-photo:nth-child(1) {
  background-color: #ffc700;
  margin: 0 -20px 0 0;
}
.position-avatar__mini-photo:nth-child(2) {
  background-color: #000aff;
  margin: 0 -20px 0 0;
}
.position-avatar__mini-photo:nth-child(3) {
  background-color: #02c68b;
}