@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.content {
  font-family: "Inter", sans-serif;
}

.button {
  color: #fdfdfd;
  background-color: #1a21bc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.3px;
}

.container-header {
  max-width: 1147px;
  margin: 0 auto;
}

.header {
  margin: 76px 0 70px 0;
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  max-width: 624px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu-buttons-header {
  max-width: 526px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
}

.menu-buttons-header__site {
  background: transparent;
  font-weight: 500;
  font-size: 16px;
}
.menu-buttons-header__site:first-child {
  font-weight: 700px;
  font-weight: 700;
}

.login {
  margin: 0 0 0 168px;
  max-width: 360px;
  width: 100%;
  display: flex;
}

.login__sign-button {
  color: #1a21bc;
  background: transparent;
  margin: 0 30px 0 0;
  letter-spacing: 1px;
  border-radius: 4px;
}

.login__button-style {
  color: #fdfdfd;
  background-color: #1a21bc;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  border-radius: 4px;
}

.login__button-size {
  max-width: 165px;
  max-height: 64px;
  min-width: 165px;
  min-height: 64px;
}

.container-main-discription {
  max-width: 1147px;
  margin: 0 auto;
}

.main-discription {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  justify-content: space-between;
  margin: 0 0 59px 0;
}

.left-content {
  max-width: 656px;
}

.main-tittle {
  color: #303030;
  font-size: 84px;
  font-weight: 700;
  line-height: 102px;
}

.text {
  color: #2d2f30;
  max-width: 555px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3px;
  margin: 0 0 10px 0;
}

.main-list {
  margin: 0 0 37px 3px;
  max-width: 503px;
  display: flex;
  justify-content: space-between;
}
.main-list li {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #3d424f;
  padding: 0 0 0 33px;
  margin: 0 48px 0 0;
  background: url("../img/icon/main-discription-icon/main-list-icon.svg") left 3px no-repeat;
}

.question {
  max-width: 653px;
  width: 100%;
  max-height: 114px;
  height: 100%;
  background: #f7fdff;
  border-radius: 4px;
  margin: 0 0 0 3px;
  display: flex;
  align-items: center;
}

.question__left {
  margin: 0 106px 0 31px;
}

.question__left__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2d2f30;
  margin: 0 0 11px 0;
}

.question__left__list {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #151617;
  padding: 0 0 0 38px;
  background: url(../img/icon/main-discription-icon/question-list-icon.svg) 6px no-repeat;
}

.question_left__button-size {
  min-width: 175px;
  min-height: 64px;
  max-width: 175px;
  max-height: 64px;
  letter-spacing: 0.5px;
}

.right-content {
  max-width: 437px;
  max-height: 538px;
  border-radius: 35% 0 40% 42%;
  background-color: #4285f4;
  box-shadow: 27px 18px 1px 0px rgba(181, 209, 255, 0.26);
}

.position-big-photo {
  border-radius: 35% 0 40% 42%;
  overflow: hidden;
  max-width: 437px;
  max-height: 538px;
  min-width: 437px;
  min-height: 538px;
  z-index: 1;
}

.big-photo {
  margin: 0 0 0 50px;
  display: block;
  height: 100%;
}

.big-photo-2 {
  max-width: 437px;
  max-height: 538px;
  width: 100%;
  margin: -538px 0 0 51px;
}

.position-avatar {
  z-index: 2;
  margin: -45px 0 0 160px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
}

.position-avatar__mini-photo {
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  border: #f8f6f6 solid 1px;
}
.position-avatar__mini-photo:nth-child(1) {
  background-color: #ffc700;
  margin: 0 -20px 0 0;
}
.position-avatar__mini-photo:nth-child(2) {
  background-color: #000aff;
  margin: 0 -20px 0 0;
}
.position-avatar__mini-photo:nth-child(3) {
  background-color: #02c68b;
}

.container-company-presentation {
  max-width: 1147px;
  margin: 0 auto;
}

.company-presentation {
  width: 100%;
  max-height: 220px;
  min-height: 220px;
  background: #f5f9ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 49px 0;
}

.company-presentation__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 42px 0;
}

.company-presentation__image {
  max-width: 945px;
  display: flex;
  justify-content: space-between;
  padding: 0 49px 0 0;
}

.container-popular-courses {
  max-width: 1147px;
  margin: 0 auto;
}

.popular-courses {
  margin: 0 0 177px 0px;
}

.top-info-courses {
  display: flex;
  justify-content: space-between;
  max-height: 77px;
  height: 100%;
  margin: 0 0 48px 0;
}

.top-info-courses_button-courses {
  justify-content: end;
  align-self: flex-end;
}

.button-courses {
  max-width: 194px;
  max-height: 64px;
  min-width: 194px;
  min-height: 64px;
  border-radius: 8px;
}

.courses-compilation {
  max-width: 1138px;
  max-height: 454px;
}

.menu-courses {
  display: flex;
  max-width: 934px;
  justify-content: space-between;
  padding: 0px 10px 0px 0px;
  margin: 0 0 40px 0;
}

.menu-courses__type {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.3px;
  color: #373737;
  background: transparent;
}

.preview-courses-container {
  display: flex;
  justify-content: space-between;
}

.card {
  max-height: 386px;
  max-width: 264px;
  min-height: 386px;
  min-width: 264px;
  border-radius: 10px;
}

.preview-card__position-image {
  max-height: 386px;
  max-width: 264px;
  min-height: 386px;
  min-width: 264px;
}

.preview-card__image {
  border-radius: 10px;
  overflow: hidden;
}

.preview-card__image-size {
  max-height: 386px;
}

.preview-card__position-info {
  position: absolute;
}

.preview-card__info {
  margin: -120px 0 0 0;
  min-width: 264px;
  min-height: 121px;
  max-width: 264px;
  max-height: 121px;
  background: #fdfdfd;
  box-shadow: 0px 8px 100px rgba(65, 65, 65, 0.2);
  border-radius: 10px;
  padding: 9px 15px 12px 11px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.one-line-info-card {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
}

.preview-card__category {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3px;
  color: #414141;
}

.preview-card__price {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #101010;
}

.two-line-info-card {
  display: flex;
  justify-content: space-between;
}

.preview-card__tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3;
  color: #101010;
}

.card-two-tittle-position {
  max-width: 207px;
}

.card-four-tittle-position {
  max-width: 230px;
}

.three-line-info-card {
  display: flex;
  justify-content: space-between;
}

.preview-card__classes {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #414141;
}

.preview-card__students {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #414141;
}

.preview-card__grade {
  min-width: 31px;
  background: url(../img/icon/icon-card/star-black.svg) left -1px no-repeat;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #101010;
  padding: 0 0 3px 14px;
}

.container-mentor {
  max-width: 1140px;
  margin: 0 auto;
}

.top-info-mentor {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  max-height: 154px;
  min-width: 1140px;
  min-height: 154px;
  margin: 0 0 32px 0;
}

.top-info-mentor__title {
  max-width: 458px;
}

.top-info-mentor__button {
  max-width: 261px;
  max-height: 64px;
  min-width: 261px;
  min-height: 64px;
  border-radius: 8px;
  text-align: center;
  justify-content: end;
  align-self: flex-end;
  margin: 0 0 28px 0;
}
.top-info-mentor__button span {
  font-weight: bold;
}

.mentor-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-mentor {
  max-width: 360px;
  max-height: 461px;
  min-width: 360px;
  min-height: 461px;
  margin: 0 0 76px 0;
}

.card-mentor__photo {
  max-width: 360px;
  max-height: 360px;
  width: 100%;
  height: 100%;
  margin: 0 0 29px 0;
}

.photo-mentor {
  max-width: 360px;
  width: 100%;
}

.card-mentor__name {
  text-align: center;
  min-width: 217px;
  min-height: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0 0 10px 0;
}

.card-mentor__specialization {
  min-width: 132px;
  min-height: 23px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.container-comments {
  max-width: 1147px;
  margin: 0 auto;
}

.comments {
  max-height: 480px;
}

.comments-top-info {
  max-width: 566px;
  margin: 0 0 93px 0;
}

.compilation-comments {
  display: flex;
  justify-content: space-between;
}

.card-comments {
  max-width: 360px;
  max-height: 233px;
  min-width: 360px;
  min-height: 233px;
  background: #f5f9ff;
}

.content-comments {
  max-width: 293px;
  max-height: 162px;
  margin: 41px 0 0 34px;
}

.student-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-self: end;
  max-width: 211px;
  max-height: 64px;
  min-width: 211px;
  min-height: 64px;
  margin: 0 0 19px 0;
}

.student-image {
  max-width: 64px;
  max-height: 64px;
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
}

.student-info__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #101010;
  margin: 0 0 9px 0;
}

.student-info__education {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #090001;
}

.card-comments__decoration {
  transform: rotate(-180deg);
  font-weight: 700;
  font-size: 180px;
  line-height: 0px;
  letter-spacing: 0.3px;
  color: #4a4dc7;
  margin: -205px 0 0 293px;
}

.card-comments__decoration-position {
  position: absolute;
}

.comments-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #090001;
}