@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
}

.content {
  font-family: "Inter", sans-serif;
}

//Стили меню:

.container-header {
  max-width: 1147px;
  margin: 0 auto;
}
.header {
  margin: 76px 0 70px 0;
  max-width: 1140px;
  display: flex;
  justify-content: center;
}
.menu {
  max-width: 624px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo__menu {
}
.menu-buttons {
  max-width: 526px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex: 0 1 auto;
}
.menu-buttons__site {
  background: transparent;
  &:first-child {
    font-weight: 700px;
    font-weight: 700;
  }
  font-weight: 500;
  font-size: 16px;
}
.login {
  margin: 0 0 0 168px;
  display: flex;
}
.login__sign-button {
  color: #1a21bc;
  background: transparent;
  margin: 0 30px 0 0;
}
.button {
  color: #fdfdfd;
  background-color: #1a21bc;
  border-radius: 4px;
}

.button-size {
  min-width: 165px;
  min-height: 64px;
  max-width: 165px;
  max-height: 64px;
}

//Стили основного описания:

.container-main-discription {
  max-width: 1147px;
  margin: 0 auto;
}
.main-discription {
  display: flex;
  max-width: 1140px;
  justify-content: center;
  justify-content: space-between;

  margin: 0 0 59px 0;
}
.left-content {
  max-width: 656px;
}
.main-tittle {
  color: #303030;
  font-size: 84px;
  font-weight: 700;
  line-height: 102px;
}
.text {
  color: #2d2f30;
  max-width: 555px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.3px;
  margin: 0 0 10px 0;
}
.main-list {
  margin: 0 0 37px 3px;
  max-width: 503px;
  display: flex;
  justify-content: space-between;
  & li {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #3d424f;
    padding: 0 0 0 33px;
    margin: 0 48px 0 0;
    background: url("../img/icon/main-discription-icon/main-list-icon.svg") left
      3px no-repeat;
  }
}
.question {
  max-width: 653px;
  width: 100%;
  max-height: 114px;
  height: 100%;
  background: #f7fdff;
  border-radius: 4px;
  margin: 0 0 0 3px;
  display: flex;
  align-items: center;
}
.question__left {
  margin: 0 106px 0 31px;
}
.question__left__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2d2f30;
  margin: 0 0 11px 0;
}
.question__left__list {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #151617;
  padding: 0 0 0 38px;
  background: url(../img/icon/main-discription-icon/question-list-icon.svg) 6px
    no-repeat;
}
.question_left__button {
  min-width: 175px;
  min-height: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.right-content {
  max-width: 437px;
  max-height: 538px;
  border-radius: 35% 0 40% 42%;
  background-color: #4285f4;
  box-shadow: 27px 18px 1px 0px rgba(181, 209, 255, 0.26);
}
.position-big-photo {
  border-radius: 35% 0 40% 42%;
  overflow: hidden;
  max-width: 437px;
  max-height: 538px;
  z-index: 1;
}
.big-photo {
  margin: 0 0 0 50px;
  display: block;
  height: 100%;
}
.big-photo-2 {
  max-width: 437px;
  max-height: 538px;
  width: 100%;
  margin: -538px 0 0 51px;
}
.position-avatar {
  z-index: 2;
  margin: -45px 0 0 160px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  border: #151617 1px solid;
}
.position-avatar__mini-photo {
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: #f8f6f6 solid 1px;
  &:nth-child(1) {
    background-color: #ffc700;
    margin: 0 -20px 0 0;
  }
  &:nth-child(2) {
    background-color: #000aff;
    margin: 0 -20px 0 0;
  }
  &:nth-child(3) {
    background-color: #02c68b;
  }
}

//Стили презентации компаний:
.container-company-presentation {
  max-width: 1147px;
  margin: 0 auto;
}
.company-presentation {
  width: 100%;
  max-height: 220px;
  min-height: 220px;
  background: #f5f9ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.company-presentation__position {
}
.company-presentation__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 42px 0;
}
.company-presentation__image {
  max-width: 945px;
  display: flex;
  justify-content: space-between;
  padding: 0 49px 0 0;
}
